body{
    font-family: 'Ubuntu', sans-serif;
}
 #name-highlight{
     color: orange;
 }
 h1{
    font-family: 'Righteous', cursive;
     font-size: 50px;
    }
    }
    p{
        font-size: 10px;
    }
    h3{
        font-family: 'Ubuntu', sans-serif ;
        font-size: 25px;
        font-weight:bold;
    }
.half-width{
    float: left;
width: 40%;
margin-left: 5%;
padding-left: 2%;
}
.half-width img{
    width: 100%;
}