body{
    

}
 #name-highlight{
     color: orange;
 }
 h1{
    font-family: 'Righteous', cursive;
     font-size: 50px;
    }
    }
    p{
   text-align: justify;
        font-size: 20px;
    }
    h3{
        font-family: 'Ubuntu', sans-serif ;
        font-size: 25px;
        font-weight:bold;
    }
    #intro{
width: 50%;
float: left;

    }
    #profile-pic{
        float: right;
        width: 50%;
    }